body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:1330px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:1044px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:2px 3px 5px rgba(170, 170, 170, 0.349019607843137);
  -webkit-box-shadow:2px 3px 5px rgba(170, 170, 170, 0.349019607843137);
  box-shadow:2px 3px 5px rgba(170, 170, 170, 0.349019607843137);
}
#u71 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:30px;
  width:1330px;
  height:1044px;
  display:flex;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:930px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:110px;
  width:1278px;
  height:930px;
  display:flex;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:228px;
  width:170px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:522px;
  width:170px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:375px;
  width:170px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:682px;
  width:170px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u76 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:946px;
  width:170px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:228px;
  width:0px;
  height:0px;
}
#u78_seg0 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-52px;
  width:102px;
  height:6px;
  -webkit-transform:rotate(90.5787255656078deg);
  -moz-transform:rotate(90.5787255656078deg);
  -ms-transform:rotate(90.5787255656078deg);
  transform:rotate(90.5787255656078deg);
}
#u78_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-13px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-89.4212744343935deg);
  -moz-transform:rotate(-89.4212744343935deg);
  -ms-transform:rotate(-89.4212744343935deg);
  transform:rotate(-89.4212744343935deg);
}
#u78_seg2 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-99px;
  width:1px;
  height:1px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:-56px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:258px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u79_seg0 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:70px;
  width:236px;
  height:8px;
  -webkit-transform:rotate(-140.762632886598deg);
  -moz-transform:rotate(-140.762632886598deg);
  -ms-transform:rotate(-140.762632886598deg);
  transform:rotate(-140.762632886598deg);
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:67px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:375px;
  width:170px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u80 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:288px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u81_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:239px;
}
#u81_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:221px;
  width:18px;
  height:19px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:110px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:258px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u82_seg0 {
  border-width:0px;
  position:absolute;
  left:-620px;
  top:-5px;
  width:620px;
  height:10px;
}
#u82_seg1 {
  border-width:0px;
  position:absolute;
  left:-620px;
  top:-5px;
  width:10px;
  height:122px;
}
#u82_seg2 {
  border-width:0px;
  position:absolute;
  left:-624px;
  top:104px;
  width:18px;
  height:19px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:-416px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:552px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u83_seg0 {
  border-width:0px;
  position:absolute;
  left:-620px;
  top:-5px;
  width:620px;
  height:10px;
}
#u83_seg1 {
  border-width:0px;
  position:absolute;
  left:-620px;
  top:-117px;
  width:10px;
  height:122px;
}
#u83_seg2 {
  border-width:0px;
  position:absolute;
  left:-624px;
  top:-123px;
  width:18px;
  height:19px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:-416px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:375px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u84_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-122px;
  width:10px;
  height:122px;
}
#u84_seg1 {
  border-width:0px;
  position:absolute;
  left:-265px;
  top:-122px;
  width:270px;
  height:10px;
}
#u84_seg2 {
  border-width:0px;
  position:absolute;
  left:-271px;
  top:-126px;
  width:19px;
  height:18px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:-131px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:582px;
  width:0px;
  height:0px;
}
#u85_seg0 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:48px;
  width:102px;
  height:4px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:58px;
  width:145px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u86 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u86_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:375px;
  width:170px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:258px;
  width:0px;
  height:0px;
}
#u88_seg0 {
  border-width:0px;
  position:absolute;
  left:-208px;
  top:70px;
  width:236px;
  height:8px;
  -webkit-transform:rotate(-39.2373671134015deg);
  -moz-transform:rotate(-39.2373671134015deg);
  -ms-transform:rotate(-39.2373671134015deg);
  transform:rotate(-39.2373671134015deg);
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:60px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:817px;
  width:170px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:742px;
  width:0px;
  height:0px;
}
#u90_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:80px;
}
#u90_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:62px;
  width:18px;
  height:19px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:877px;
  width:0px;
  height:0px;
}
#u91_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:74px;
}
#u91_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:56px;
  width:18px;
  height:19px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:43px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:49px;
  width:151px;
  height:43px;
  display:flex;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:552px;
  width:0px;
  height:0px;
}
#u93_seg0 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-78px;
  width:236px;
  height:8px;
  -webkit-transform:rotate(140.762632886598deg);
  -moz-transform:rotate(140.762632886598deg);
  -ms-transform:rotate(140.762632886598deg);
  transform:rotate(140.762632886598deg);
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-80px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:435px;
  width:0px;
  height:0px;
}
#u94_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:122px;
}
#u94_seg1 {
  border-width:0px;
  position:absolute;
  left:-265px;
  top:112px;
  width:270px;
  height:10px;
}
#u94_seg2 {
  border-width:0px;
  position:absolute;
  left:-271px;
  top:108px;
  width:19px;
  height:18px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:103px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
